<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 공통 속성 정의 -->
    <property name="LOG_PATH" value="logs" />

    <!-- 환경별 설정 가져오기 -->
    <springProfile name="dev">
        <include resource="logback-dev.xml"/>
    </springProfile>

<!--    <springProfile name="prod">-->
<!--        <include resource="logback-prod.xml"/>-->
<!--    </springProfile>-->

    <!-- 기본 설정 (프로필이 지정되지 않은 경우) -->
    <springProfile name="default">
        <include resource="logback-dev.xml"/>
    </springProfile>
</configuration>
